APP_NAME=KLAYTN
APP_PORT=3001
APP_PREFIX=/api/v1
NODE_ENV=development
SALT_OR_ROUNDS=12
JWT_SECRET=exampleSecret@123
JWT_EXP=84600s
PUBLIC_KEY_JWT=public@123
ROLE_KEY_JWT=roleKey@123
DEFAULT_PASSWORD_LENGTH=8
DEFAULT_CODE_LENGTH=6
CODE_EXPIRE_TIME=120000
CODE_INVALID_TIME=5

S3_FILE_SIZE_UPLOAD_ALLOW=10000000
S3_BUCKET_NAME=
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_REGION=

SENTRY_DNS=
SENTRY_RELEASE=
SENTRY_DEBUG_LOG=true
SENTRY_LOG_LEVEL=debug

DATABASE_TYPE=mongodb
DATABASE_HOST=localhost
DATABASE_PORT=27019
DATABASE_USER=admin123
DATABASE_PASS=admin123
DATABASE_NAME=klaytn

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=abcd

SENDGRID_API_KEY=
SENDGRID_FROM=

ONESIGNAL_APP_KEY=onesignalKey
ONESIGNAL_ALGORITHM=sha256
ONESIGNAL_USER_KEY=
ONESIGNAL_APP_ID=97014419-0ab1-40fc-b53a-ce14380d370e

HEDERA_SECRET_KEY_ENCRYPT=helloWorld

HEDERA_ACCOUNT_ID=
HEDERA_PRIVATE_KEY=
HEDERA_ADMIN_PUBLIC_KEY=
HEDERA_FAULT_GAS_FEE=1.072

NFT_SMART_CONTRACT=0.0.3501600
TOKEN_SMART_CONTRACT=0.0.3405521
MARKET_SMART_CONTRACT=0.0.3691994
AUCTION_SMART_CONTRACT=0.0.3770551

NFT_IMAGE_AGENT=https://klaytn22184.s3.amazonaws.com/minhnv1/1682477869232-NFT%20Agent%20Image.png
NFT_IMAGE_CLIENT=https://klaytn22184.s3.ap-southeast-1.amazonaws.com/minhnv1/1682477869424-NFT%20Client%20Image.png
NFT_IMAGE_REFERRAL=https://klaytn22184.s3.ap-southeast-1.amazonaws.com/minhnv1/1682477869523-NFT%20Referral%20Image.png

BRIDGE_API_HOST=https://api.bridgedataoutput.com
BRIDGE_DATASET=test
BRIDGE_ACCESS_TOKEN=6baca547742c6f96a6ff71b138424f21
ESTIMATION_CHECKIN_DISTANCE=20

MAPBOX_HOST=https://api.mapbox.com
MAPBOX_ACCESS_TOKEN=

BRIDGE_URL=
BRIDGE_DATA_SET=
BRIDGE_ACCESS_TOKEN=

REDIS_HOST=localhost
REDIS_PORT=6379

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE=+15674831766
DEFAULT_CODE=88888
DEFAULT_PHONE=+84982215986


COURSE_HOMEPAGE_LIMIT=4