APP_NAME=KLAYTN
APP_PORT=3001
APP_PREFIX=/api/v1
NODE_ENV=development
SALT_OR_ROUNDS=12
JWT_SECRET=exampleSecret@123
JWT_EXP=84600s
PUBLIC_KEY_JWT=public@123
ROLE_KEY_JWT=roleKey@123
DEFAULT_PASSWORD_LENGTH=8
APP_LOGO_IMAGE_URL=https://www.freepnglogos.com/uploads/lion-logo-png/lion-roar-rugindo-logo-vector-cdr-eps-download-17.png
DEFAULT_CODE_LENGTH=5
CODE_EXPIRE_TIME=120000
CODE_INVALID_TIME=5
ADMIN_EMAIL=minhnvgch@gmail.com

S3_FILE_SIZE_UPLOAD_ALLOW=10000000
S3_BUCKET_NAME=
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_REGION=

MASTER_DATABASE_TYPE=mongodb
MASTER_DATABASE_HOST=localhost
MASTER_DATABASE_PORT=27019
MASTER_DATABASE_USER=admin123
MASTER_DATABASE_PASS=admin123
MASTER_DATABASE_NAME=klaytn

REPORT_DATABASE_TYPE=mongodb
REPORT_DATABASE_HOST=localhost
REPORT_DATABASE_PORT=27019
REPORT_DATABASE_USER=admin123
REPORT_DATABASE_PASS=admin123
REPORT_DATABASE_NAME=klaytn

REDIS_HOST=localhost
REDIS_PORT=6379

SENDGRID_API_KEY=
SENDGRID_FROM=

BRIDGE_URL=https://api.bridgedataoutput.com/api/v2/
BRIDGE_DATA_SET=test
BRIDGE_ACCESS_TOKEN=6baca547742c6f96a6ff71b138424f21

DEFAULT_USER_UD_RECEIVE_NFT=
